<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>ContentMine Applet Example</title>
        <link
            href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.1.min.css"
            rel="stylesheet" type="text/css">
        <link
            href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.1.min.css"
            rel="stylesheet" type="text/css">
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.1.min.js"></script>
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.1.min.js"></script>
    </head>
    <body>
        ContentMine DemoApp
        <div class=page>
          {{ script | safe }}

          <p>
          {{ app_tag }}
          </p>
        </div>
    </body>
</html>
